@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  /*=====INPUTS======*/
  .input-default {
    @apply appearance-none focus:outline-none focus:ring-0 focus:shadow-none bg-none border-0;
  }
  
  /*=====TEXT AREA=====*/
  .textarea-default {
    @apply appearance-none outline-none resize-none border border-light bg-transparent shadow-none p-2 m-0;
  }
  .box-link {
    @apply px-3 py-1 text-small border rounded-xs border-black w-fit;
  }
  .box-link-filled-white {
    @apply px-5 py-1 text-small bg-white rounded-xs text-black w-fit;
  }
  /*======BOXES USED IN UI===========*/
  .box-bg-normal { 
    @apply rounded-md border-light bg-normal border 
  }
  .box-bg-normal-plus { 
    @apply rounded-md border-light bg-normal-plus border 
  }
  .box-bg-dark { 
    @apply rounded-md border-light bg-normal-dark border 
  }
  /*======TEXT========*/
  .text-app-nav { 
    @apply text-lg md:text-xl text-white font-medium hover:cursor-pointer
  }
  /*======BUTTONS======*/
  .button-normal { 
    @apply px-3 py-1 border rounded-xs text-small border-light hover:bg-normal hover:cursor-pointer w-fit font-semibold h-fit
  }
  .button-normal-h-light { 
    @apply px-3 py-1 border rounded-xs text-small border-light hover:bg-light hover:cursor-pointer w-fit font-semibold h-fit
  }
  .button-normal-orange{ 
    @apply px-3 py-1 rounded-xs text-small bg-default-orange hover:bg-orange-focus hover:cursor-pointer w-fit font-semibold h-fit
  }
}

/* Autofill overrides for Chrome / WebKit */
.waitlist-input:-webkit-autofill,
.waitlist-input:-webkit-autofill:hover,
.waitlist-input:-webkit-autofill:focus,
.waitlist-input:-webkit-autofill:active {
  /* text color */
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #11182700 !important;
  /* optionally reduce autofill transition jump */
  transition: background-color 5000s ease-in-out 0s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-instrument: var(--font-instrument); 

  --color-button: var(--offgray);
  --color-menu: var(--menu);
  --color-canvas: var(--canvas);

  --color-normal: var(--normal);
  --color-normal-plus: var(--normal-plus);
  --color-normal-dark: var(--dark-gray); 
  --color-light: var(--light-gray);
  --color-lighter: var(--light-gray-plus);

  --color-side-menu: var(--menu-gray);
  --color-default-orange: var(--default-orange);
  --color-orange-focus: var(--default-orange-hover);

  --text-header: var(--header);
  --text-header-2: var(--header-2);
  --text-medium: var(--text-normal);
  --text-small: var(--sidemenu-text);
  --text-supersmall: var(--text-smallest);

  --padding-page: var(--padding-page);
  --padding-small: var(--padding-small); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --offgray: #242424; 
    --menu: #000001;
    --canvas: #100F10;
    --normal: #383838;
    --normal-plus: #2B2B2B; 
    --dark-gray: #242424;
    --light-gray: #484848; 
    --light-gray-plus: #828282;
    --menu-gray: #2F2F2F; 
    --default-orange: #FD5E32;
    --default-orange-hover: #ff8665;


    --sidemenu-text: 14px; 
    --header: 64px;
    --header-2: 40px;
    --text-normal: 24px; 
    --text-smallest: 12px; 

    --padding-page: 24px; 
    --padding-small: 12px; 
    --rounded-mid: 6px; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}
